body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    font-family: sans-serif;
}

.odometer {
    display: flex;
}

.digit {
    overflow: hidden;
    height: 1em;
    width: 1em;
    position: relative;
    font-size: 60px;
}

.number {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.number div {
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.simbolo-counter {
    height: .8em;
}